In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("homeprices_banglore.csv")
df.sample(5)

    area  bedrooms  price
11  2785         4  140.0
13  1100         2   40.0
1   2600         4  120.0
12  1000         2   38.0
15  1175         2   42.0